<div class="container">
  <div class="columns">
    <div class="">
      <p>Team Name:</p>
      <h1 class=""><%= @team.name %></h1>
      <hr/>
      <h2 class=""> Team Members</h2>
        <div class="columns">
        <% @team.users.each do |member|  %>
              <div>
              <%= gravatar_image_tag(member.email.gsub('spam','mdeering'), size:48, alt: member.name, class:'image is-48x48') %>
              </div>
              <div>
                <h3><%= member.name %></h3>
                <p><%= member.email %></p>
                <p><%=(member.created_at) %></p>
              </div>
          <% end %>
        </div>
    </div>
    <div class="">
      <p><%= @team.name %> projects</p>
      <h3 >Active Projects</h3>
      <hr/>
      <% if @team.projects.exists? %>
        <ul>
          <% @team.projects.each do |project|  %>
          <li><%= link_to project.name, project %></li>
          <% end %>
        </ul>
      <% else %>
      <div class="content">
        <p>No active projects yet.</p>
        <p><%= link_to 'Add one', new_project_path %></p>
      </div>
      <% end %>
    </div>
  </div>
  <div class="">
  <%= link_to 'Edit', edit_team_path(@team), class:'button' %>
  <%= link_to 'Back', teams_path, class:'button' %>
  </div>
</div>
